name: Format suggestions
on:
  push:
    branches: [master]
    tags: ["*"]
  pull_request:
jobs:
  code-style:
    runs-on: ubuntu-latest
    steps:
      - uses: julia-actions/julia-format@v3
        with:
          version: '2'
          suggestion-label: 'format-suggest' # leave this unset or empty to show suggestions for all PRs
